In [2]:
#Importing the required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#Loading the dataset
df = pd.read_csv("data/intensity_concentration.csv")

In [4]:
df.head()

,ID,COUNTRY_NAME,ISO2,ADMIN1,ADMIN2,SITE_NAME,SITE_CODE,LATITUDE,LONGITUDE,TEST_TYPE,...,VECTOR_SPECIES,STAGE_ORIGIN,MOSQUITO_NUMBER,TIME_HOLDING_POSTEXPOSURE,MORTALITY_ADJUSTED,RESISTANCE_INTENSITY,DATA_SOURCE,CITATION,CITATION_URL,DATA_CURATOR
0,IRInt3,Côte d’Ivoire,CI,Agneby-Tiassa,Agboville,Agboville,IRCI5,5.9318,-4.2181,"CDC bottle bioassay, adults",...,An. gambiae s.l.,F0_ADULTS_(WILD_COLLECTED),Not available,30MINS,72.0,High intensity,Centre Suisse de Recherches Scientifiques en C...,Meiwald AE et al. (2020) Reduced long-lasting ...,https://pubmed.ncbi.nlm.nih.gov/33175129/,World Health Organization
1,IRInt2,Côte d’Ivoire,CI,Agneby-Tiassa,Agboville,Agboville,IRCI5,5.9318,-4.2181,"CDC bottle bioassay, adults",...,An. gambiae s.l.,F0_ADULTS_(WILD_COLLECTED),Not available,30MINS,66.0,Moderate to high intensity,Centre Suisse de Recherches Scientifiques en C...,Meiwald AE et al. (2020) Reduced long-lasting ...,https://pubmed.ncbi.nlm.nih.gov/33175129/,World Health Organization
2,IRDis63,Côte d’Ivoire,CI,Me,Adzope,Adzope,IRCI4,6.1069,-3.8619,WHO tube test,...,An. gambiae s.l.,F0_ADULTS_(FROM_WILD_LARVAE),Not available,24HRS,0.0,NaN,Not available,Kouassi B et al.(2020) Susceptibility of Anoph...,https://pubmed.ncbi.nlm.nih.gov/33298071/,World Health Organization
3,IRInt28,Côte d’Ivoire,CI,Me,Adzope,Adzope,IRCI4,6.1069,-3.8619,WHO tube test,...,An. gambiae s.l.,F0_ADULTS_(FROM_WILD_LARVAE),Not available,24HRS,54.2,Moderate to high intensity,Not available,Kouassi B et al.(2020) Susceptibility of Anoph...,https://pubmed.ncbi.nlm.nih.gov/33298071/,World Health Organization
4,IRInt29,Côte d’Ivoire,CI,Me,Adzope,Adzope,IRCI4,6.1069,-3.8619,WHO tube test,...,An. gambiae s.l.,F0_ADULTS_(FROM_WILD_LARVAE),Not available,24HRS,68.9,High intensity,Not available,Kouassi B et al.(2020) Susceptibility of Anoph...,https://pubmed.ncbi.nlm.nih.gov/33298071/,World Health Organization

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1725 entries, 0 to 1724
Data columns (total 25 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID                         1725 non-null   object
 1   COUNTRY_NAME               1725 non-null   object
 2   ISO2                       1725 non-null   object
 3   ADMIN1                     1725 non-null   object
 4   ADMIN2                     1725 non-null   object
 5   SITE_NAME                  1725 non-null   object
 6   SITE_CODE                  1725 non-null   object
 7   LATITUDE                   1725 non-null   float64
 8   LONGITUDE                  1725 non-null   float64
 9   TEST_TYPE                  1725 non-null   object
 10  INSECTICIDE_CLASS          1725 non-null   object
 11  INSECTICIDE_CONC           1724 non-null   object
 12  INSECTICIDE_INTENSITY      1724 non-null   float64
 13  INSECTICIDE_TYPE           1725 non-null   object
 14  YEAR_START                 1725 non-null   int64
 15  VECTOR_SPECIES             1725 non-null   object
 16  STAGE_ORIGIN               1725 non-null   object
 17  MOSQUITO_NUMBER            1725 non-null   object
 18  TIME_HOLDING_POSTEXPOSURE  1725 non-null   object
 19  MORTALITY_ADJUSTED         1725 non-null   float64
 20  RESISTANCE_INTENSITY       1194 non-null   object
 21  DATA_SOURCE                1702 non-null   object
 22  CITATION                   1725 non-null   object
 23  CITATION_URL               1375 non-null   object
 24  DATA_CURATOR               1725 non-null   object
dtypes: float64(4), int64(1), object(20)
memory usage: 337.0+ KB

In [6]:
#Summary of the statistics of the data
df.describe()

,LATITUDE,LONGITUDE,INSECTICIDE_INTENSITY,YEAR_START,MORTALITY_ADJUSTED
count,1725.000000,1725.000000,1724.000000,1725.000000,1725.000000
mean,6.476528,11.370145,5.394432,2017.975072,61.896986
std,8.878530,25.358998,3.586570,1.701291,32.701784
min,-28.343065,-84.223600,1.000000,2010.000000,0.000000
25%,3.699000,-4.428611,1.000000,2017.000000,35.000000
50%,8.150000,2.840258,5.000000,2018.000000,71.000000
75%,12.358651,25.217662,10.000000,2019.000000,92.000000
max,34.671389,121.201700,10.000000,2021.000000,100.000000

In [7]:
df.columns

Index(['ID', 'COUNTRY_NAME', 'ISO2', 'ADMIN1', 'ADMIN2', 'SITE_NAME',
       'SITE_CODE', 'LATITUDE', 'LONGITUDE', 'TEST_TYPE', 'INSECTICIDE_CLASS',
       'INSECTICIDE_CONC', 'INSECTICIDE_INTENSITY', 'INSECTICIDE_TYPE',
       'YEAR_START', 'VECTOR_SPECIES', 'STAGE_ORIGIN', 'MOSQUITO_NUMBER',
       'TIME_HOLDING_POSTEXPOSURE', 'MORTALITY_ADJUSTED',
       'RESISTANCE_INTENSITY', 'DATA_SOURCE', 'CITATION', 'CITATION_URL',
       'DATA_CURATOR'],
      dtype='object')

In [8]:
#Check for duplicate rows
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1720    False
1721    False
1722    False
1723    False
1724    False
Length: 1725, dtype: bool

In [9]:
#Specify the columns that are to be dropped
columns_to_drop = ['ISO2', 'ADMIN1', 'ADMIN2', 'SITE_NAME', 'SITE_CODE', 'TEST_TYPE', 'TIME_HOLDING_POSTEXPOSURE', 'DATA_SOURCE', 'CITATION', 'CITATION_URL', 'DATA_CURATOR']

In [10]:
#Drop the specified columns and create a new dataframe
df = df[[col for col in df.columns if col not in columns_to_drop]]

In [11]:
#Confirming the columns have been dropped
df.columns

Index(['ID', 'COUNTRY_NAME', 'LATITUDE', 'LONGITUDE', 'INSECTICIDE_CLASS',
       'INSECTICIDE_CONC', 'INSECTICIDE_INTENSITY', 'INSECTICIDE_TYPE',
       'YEAR_START', 'VECTOR_SPECIES', 'STAGE_ORIGIN', 'MOSQUITO_NUMBER',
       'MORTALITY_ADJUSTED', 'RESISTANCE_INTENSITY'],
      dtype='object')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1725 entries, 0 to 1724
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     1725 non-null   object
 1   COUNTRY_NAME           1725 non-null   object
 2   LATITUDE               1725 non-null   float64
 3   LONGITUDE              1725 non-null   float64
 4   INSECTICIDE_CLASS      1725 non-null   object
 5   INSECTICIDE_CONC       1724 non-null   object
 6   INSECTICIDE_INTENSITY  1724 non-null   float64
 7   INSECTICIDE_TYPE       1725 non-null   object
 8   YEAR_START             1725 non-null   int64
 9   VECTOR_SPECIES         1725 non-null   object
 10  STAGE_ORIGIN           1725 non-null   object
 11  MOSQUITO_NUMBER        1725 non-null   object
 12  MORTALITY_ADJUSTED     1725 non-null   float64
 13  RESISTANCE_INTENSITY   1194 non-null   object
dtypes: float64(4), int64(1), object(9)
memory usage: 188.8+ KB

In [13]:
#Removing rows with null values in specific columns
columns_with_nulls = ['INSECTICIDE_CONC', 'INSECTICIDE_INTENSITY', 'RESISTANCE_INTENSITY']
df.dropna(subset=columns_with_nulls, inplace=True)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1193 entries, 0 to 1724
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     1193 non-null   object
 1   COUNTRY_NAME           1193 non-null   object
 2   LATITUDE               1193 non-null   float64
 3   LONGITUDE              1193 non-null   float64
 4   INSECTICIDE_CLASS      1193 non-null   object
 5   INSECTICIDE_CONC       1193 non-null   object
 6   INSECTICIDE_INTENSITY  1193 non-null   float64
 7   INSECTICIDE_TYPE       1193 non-null   object
 8   YEAR_START             1193 non-null   int64
 9   VECTOR_SPECIES         1193 non-null   object
 10  STAGE_ORIGIN           1193 non-null   object
 11  MOSQUITO_NUMBER        1193 non-null   object
 12  MORTALITY_ADJUSTED     1193 non-null   float64
 13  RESISTANCE_INTENSITY   1193 non-null   object
dtypes: float64(4), int64(1), object(9)
memory usage: 139.8+ KB

In [15]:
# Check for 'µg' in 'INSECTICIDE_CONC', and convert those values to %
df.loc[df['INSECTICIDE_CONC'].str.contains('µg', na=False), 'INSECTICIDE_CONC'] = df.loc[df['INSECTICIDE_CONC'].str.contains('µg', na=False), 'INSECTICIDE_CONC'].str.replace('µg', '').astype(float) / 100.0

In [16]:
df['INSECTICIDE_CONC']

0        1.25
1       0.625
3       0.25%
4        0.5%
6       3.75%
        ...
1720    3.75%
1721     7.5%
1722    0.25%
1723    0.25%
1724    0.25%
Name: INSECTICIDE_CONC, Length: 1193, dtype: object

In [17]:
# Convert the remaining 'INSECTICIDE_CONC' values to float
df['INSECTICIDE_CONC'] = df['INSECTICIDE_CONC'].str.replace('%', '').astype(float)

In [18]:
df['INSECTICIDE_CONC']

0        NaN
1        NaN
3       0.25
4       0.50
6       3.75
        ...
1720    3.75
1721    7.50
1722    0.25
1723    0.25
1724    0.25
Name: INSECTICIDE_CONC, Length: 1193, dtype: float64

In [19]:
# Calculate the mean of non-null values in 'INSECTICIDE_CONC' with 2 decimal places
mean_insecticide_conc = df['INSECTICIDE_CONC'].mean().round(2)
print(mean_insecticide_conc)

2.04

In [20]:
# Replace null values in 'INSECTICIDE_CONC' with the mean
df['INSECTICIDE_CONC'].fillna(mean_insecticide_conc, inplace=True)

In [21]:
df['INSECTICIDE_CONC']

0       2.04
1       2.04
3       0.25
4       0.50
6       3.75
        ...
1720    3.75
1721    7.50
1722    0.25
1723    0.25
1724    0.25
Name: INSECTICIDE_CONC, Length: 1193, dtype: float64

In [22]:
#Cleaning the Mosquito Number column
# Replace non-numeric values with NaN
df['MOSQUITO_NUMBER'] = pd.to_numeric(df['MOSQUITO_NUMBER'], errors='coerce')

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1193 entries, 0 to 1724
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     1193 non-null   object
 1   COUNTRY_NAME           1193 non-null   object
 2   LATITUDE               1193 non-null   float64
 3   LONGITUDE              1193 non-null   float64
 4   INSECTICIDE_CLASS      1193 non-null   object
 5   INSECTICIDE_CONC       1193 non-null   float64
 6   INSECTICIDE_INTENSITY  1193 non-null   float64
 7   INSECTICIDE_TYPE       1193 non-null   object
 8   YEAR_START             1193 non-null   int64
 9   VECTOR_SPECIES         1193 non-null   object
 10  STAGE_ORIGIN           1193 non-null   object
 11  MOSQUITO_NUMBER        948 non-null    float64
 12  MORTALITY_ADJUSTED     1193 non-null   float64
 13  RESISTANCE_INTENSITY   1193 non-null   object
dtypes: float64(6), int64(1), object(7)
memory usage: 139.8+ KB

In [24]:
# Calculate the mean of 'MOSQUITO_NUMBER' (ignoring NaN values)
mean_mosquito_number = round(df['MOSQUITO_NUMBER'].mean())
print(mean_mosquito_number)

95

In [25]:
# Replace NaN values in 'MOSQUITO_NUMBER' with the rounded mean
df['MOSQUITO_NUMBER'].fillna(mean_mosquito_number, inplace=True)

In [26]:
df['MOSQUITO_NUMBER']

0        95.0
1        95.0
3        95.0
4        95.0
6        98.0
        ...
1720    100.0
1721    100.0
1722    100.0
1723    100.0
1724    100.0
Name: MOSQUITO_NUMBER, Length: 1193, dtype: float64

In [27]:
df.describe()

,LATITUDE,LONGITUDE,INSECTICIDE_CONC,INSECTICIDE_INTENSITY,YEAR_START,MOSQUITO_NUMBER,MORTALITY_ADJUSTED
count,1193.000000,1193.000000,1193.000000,1193.000000,1193.000000,1193.000000,1193.000000
mean,6.579292,11.392266,2.041199,7.338642,2018.057837,95.392288,74.511316
std,9.066756,26.266247,2.213710,2.495834,1.740509,47.568658,26.277869
min,-28.343065,-84.223600,0.250000,5.000000,2010.000000,10.000000,0.000000
25%,3.820000,-4.353365,0.250000,5.000000,2017.000000,95.000000,60.000000
50%,8.275000,2.628900,2.040000,5.000000,2018.000000,100.000000,83.100000
75%,12.358651,25.217662,2.500000,10.000000,2019.000000,100.000000,96.500000
max,34.671389,121.201700,7.500000,10.000000,2021.000000,693.000000,100.000000

In [28]:
# Convert 'YEAR_START' to datetime
df['YEAR_START'] = pd.to_datetime(df['YEAR_START'], format='%Y')
df['YEAR_START'] = df['YEAR_START'].dt.year

In [29]:
df.head()

,ID,COUNTRY_NAME,LATITUDE,LONGITUDE,INSECTICIDE_CLASS,INSECTICIDE_CONC,INSECTICIDE_INTENSITY,INSECTICIDE_TYPE,YEAR_START,VECTOR_SPECIES,STAGE_ORIGIN,MOSQUITO_NUMBER,MORTALITY_ADJUSTED,RESISTANCE_INTENSITY
0,IRInt3,Côte d’Ivoire,5.9318,-4.2181,Pyrethroids,2.04,10.0,Alpha-cypermethrin,2019,An. gambiae s.l.,F0_ADULTS_(WILD_COLLECTED),95.0,72.0,High intensity
1,IRInt2,Côte d’Ivoire,5.9318,-4.2181,Pyrethroids,2.04,5.0,Alpha-cypermethrin,2019,An. gambiae s.l.,F0_ADULTS_(WILD_COLLECTED),95.0,66.0,Moderate to high intensity
3,IRInt28,Côte d’Ivoire,6.1069,-3.8619,Pyrethroids,0.25,5.0,Deltamethrin,2019,An. gambiae s.l.,F0_ADULTS_(FROM_WILD_LARVAE),95.0,54.2,Moderate to high intensity
4,IRInt29,Côte d’Ivoire,6.1069,-3.8619,Pyrethroids,0.50,10.0,Deltamethrin,2019,An. gambiae s.l.,F0_ADULTS_(FROM_WILD_LARVAE),95.0,68.9,High intensity
6,IRInt208,Benin,6.3667,2.4334,Pyrethroids,3.75,5.0,Permethrin,2017,An. gambiae s.l.,F0_ADULTS_(FROM_WILD_LARVAE),98.0,52.0,Moderate to high intensity

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1193 entries, 0 to 1724
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     1193 non-null   object
 1   COUNTRY_NAME           1193 non-null   object
 2   LATITUDE               1193 non-null   float64
 3   LONGITUDE              1193 non-null   float64
 4   INSECTICIDE_CLASS      1193 non-null   object
 5   INSECTICIDE_CONC       1193 non-null   float64
 6   INSECTICIDE_INTENSITY  1193 non-null   float64
 7   INSECTICIDE_TYPE       1193 non-null   object
 8   YEAR_START             1193 non-null   int64
 9   VECTOR_SPECIES         1193 non-null   object
 10  STAGE_ORIGIN           1193 non-null   object
 11  MOSQUITO_NUMBER        1193 non-null   float64
 12  MORTALITY_ADJUSTED     1193 non-null   float64
 13  RESISTANCE_INTENSITY   1193 non-null   object
dtypes: float64(6), int64(1), object(7)
memory usage: 139.8+ KB

In [31]:
# Create a dictionary to map old column names to lowercase names
column_mapping = {col: col.lower() for col in df.columns}

# Rename the columns
df.rename(columns=column_mapping, inplace=True)

In [32]:
df.head()

,id,country_name,latitude,longitude,insecticide_class,insecticide_conc,insecticide_intensity,insecticide_type,year_start,vector_species,stage_origin,mosquito_number,mortality_adjusted,resistance_intensity
0,IRInt3,Côte d’Ivoire,5.9318,-4.2181,Pyrethroids,2.04,10.0,Alpha-cypermethrin,2019,An. gambiae s.l.,F0_ADULTS_(WILD_COLLECTED),95.0,72.0,High intensity
1,IRInt2,Côte d’Ivoire,5.9318,-4.2181,Pyrethroids,2.04,5.0,Alpha-cypermethrin,2019,An. gambiae s.l.,F0_ADULTS_(WILD_COLLECTED),95.0,66.0,Moderate to high intensity
3,IRInt28,Côte d’Ivoire,6.1069,-3.8619,Pyrethroids,0.25,5.0,Deltamethrin,2019,An. gambiae s.l.,F0_ADULTS_(FROM_WILD_LARVAE),95.0,54.2,Moderate to high intensity
4,IRInt29,Côte d’Ivoire,6.1069,-3.8619,Pyrethroids,0.50,10.0,Deltamethrin,2019,An. gambiae s.l.,F0_ADULTS_(FROM_WILD_LARVAE),95.0,68.9,High intensity
6,IRInt208,Benin,6.3667,2.4334,Pyrethroids,3.75,5.0,Permethrin,2017,An. gambiae s.l.,F0_ADULTS_(FROM_WILD_LARVAE),98.0,52.0,Moderate to high intensity

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1193 entries, 0 to 1724
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     1193 non-null   object
 1   country_name           1193 non-null   object
 2   latitude               1193 non-null   float64
 3   longitude              1193 non-null   float64
 4   insecticide_class      1193 non-null   object
 5   insecticide_conc       1193 non-null   float64
 6   insecticide_intensity  1193 non-null   float64
 7   insecticide_type       1193 non-null   object
 8   year_start             1193 non-null   int64
 9   vector_species         1193 non-null   object
 10  stage_origin           1193 non-null   object
 11  mosquito_number        1193 non-null   float64
 12  mortality_adjusted     1193 non-null   float64
 13  resistance_intensity   1193 non-null   object
dtypes: float64(6), int64(1), object(7)
memory usage: 139.8+ KB

In [36]:
# Create a resistance_table with the selected columns
resistance_table = df[['vector_species', 'country_name', 'latitude', 'longitude', 'insecticide_type', 'resistance_intensity']].copy()
# Add a new column 'resistance_id' and set it as the index
resistance_table['resistance_id'] = range(1, len(resistance_table) + 1)
# Reorder the columns to have 'resistance_id' as the first column
resistance_table = resistance_table[['resistance_id', 'vector_species', 'country_name', 'latitude', 'longitude', 'insecticide_type', 'resistance_intensity']]

In [38]:
resistance_table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1193 entries, 0 to 1724
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   resistance_id         1193 non-null   int64
 1   vector_species        1193 non-null   object
 2   country_name          1193 non-null   object
 3   latitude              1193 non-null   float64
 4   longitude             1193 non-null   float64
 5   insecticide_type      1193 non-null   object
 6   resistance_intensity  1193 non-null   object
dtypes: float64(2), int64(1), object(4)
memory usage: 74.6+ KB

In [43]:
resistance_table

,resistance_id,vector_species,country_name,latitude,longitude,insecticide_type,resistance_intensity
0,1,An. gambiae s.l.,Côte d’Ivoire,5.931800,-4.218100,Alpha-cypermethrin,High intensity
1,2,An. gambiae s.l.,Côte d’Ivoire,5.931800,-4.218100,Alpha-cypermethrin,Moderate to high intensity
3,3,An. gambiae s.l.,Côte d’Ivoire,6.106900,-3.861900,Deltamethrin,Moderate to high intensity
4,4,An. gambiae s.l.,Côte d’Ivoire,6.106900,-3.861900,Deltamethrin,High intensity
6,5,An. gambiae s.l.,Benin,6.366700,2.433400,Permethrin,Moderate to high intensity
...,...,...,...,...,...,...,...
1720,1189,An. gambiae s.l.,Mozambique,-15.157112,39.342965,Permethrin,Moderate to high intensity
1721,1190,An. gambiae s.l.,Mozambique,-15.157112,39.342965,Permethrin,High intensity
1722,1191,An. gambiae s.l.,Mozambique,-14.346160,32.335250,Deltamethrin,Moderate to high intensity
1723,1192,An. gambiae s.l.,Mozambique,-16.117800,33.728800,Deltamethrin,Moderate to high intensity
1724,1193,An. gambiae s.l.,Mozambique,-16.126630,33.417430,Deltamethrin,Moderate to high intensity

In [44]:
# Create insecticide_table with the selected columns
insecticide_table = df[['insecticide_class', 'insecticide_type', 'insecticide_conc', 'insecticide_intensity']].copy()
# Add a new column 'insecticide_id' and set it as the index
insecticide_table['insecticide_id'] = range(1, len(insecticide_table) + 1)
# Reorder the columns to have 'insecticide_id' as the first column
insecticide_table = insecticide_table[['insecticide_id', 'insecticide_class', 'insecticide_type', 'insecticide_conc', 'insecticide_intensity']]

In [45]:
insecticide_table.head()

,insecticide_id,insecticide_class,insecticide_type,insecticide_conc,insecticide_intensity
0,1,Pyrethroids,Alpha-cypermethrin,2.04,10.0
1,2,Pyrethroids,Alpha-cypermethrin,2.04,5.0
3,3,Pyrethroids,Deltamethrin,0.25,5.0
4,4,Pyrethroids,Deltamethrin,0.50,10.0
6,5,Pyrethroids,Permethrin,3.75,5.0

In [46]:
# Create malaria_vectors_table with the selected columns
malaria_vectors_table = df[['vector_species', 'country_name', 'latitude', 'longitude', 'mosquito_number', 'mortality_adjusted', 'resistance_intensity']].copy()
# Add a new column 'vector_id' and set it as the index
malaria_vectors_table['vector_id'] = range(1, len(malaria_vectors_table) + 1)
# Reorder the columns to have 'vector_id' as the first column
malaria_vectors_table = malaria_vectors_table[['vector_id', 'vector_species', 'country_name', 'latitude', 'longitude', 'mosquito_number', 'mortality_adjusted', 'resistance_intensity']]

In [47]:
malaria_vectors_table.head()

,vector_id,vector_species,country_name,latitude,longitude,mosquito_number,mortality_adjusted,resistance_intensity
0,1,An. gambiae s.l.,Côte d’Ivoire,5.9318,-4.2181,95.0,72.0,High intensity
1,2,An. gambiae s.l.,Côte d’Ivoire,5.9318,-4.2181,95.0,66.0,Moderate to high intensity
3,3,An. gambiae s.l.,Côte d’Ivoire,6.1069,-3.8619,95.0,54.2,Moderate to high intensity
4,4,An. gambiae s.l.,Côte d’Ivoire,6.1069,-3.8619,95.0,68.9,High intensity
6,5,An. gambiae s.l.,Benin,6.3667,2.4334,98.0,52.0,Moderate to high intensity