In [1]:
#Importing the required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Loading the dataset
df = pd.read_csv("data/MALARIA_IRS_COVERAGE.csv")

In [3]:
df.head()

,GHO (CODE),GHO (DISPLAY),GHO (URL),PUBLISHSTATE (CODE),PUBLISHSTATE (DISPLAY),PUBLISHSTATE (URL),YEAR (CODE),YEAR (DISPLAY),YEAR (URL),REGION (CODE),...,COUNTRY (CODE),COUNTRY (DISPLAY),COUNTRY (URL),Display Value,Numeric,Low,High,StdErr,StdDev,Comments
0,MALARIA_IRS_COVERAGE,Number of people protected from malaria by ind...,https://www.who.int/data/gho/indicator-metadat...,PUBLISHED,Published,NaN,2018,2018,NaN,AFR,...,AGO,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MALARIA_IRS_COVERAGE,Number of people protected from malaria by ind...,https://www.who.int/data/gho/indicator-metadat...,PUBLISHED,Published,NaN,2019,2019,NaN,AFR,...,AGO,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,MALARIA_IRS_COVERAGE,Number of people protected from malaria by ind...,https://www.who.int/data/gho/indicator-metadat...,PUBLISHED,Published,NaN,2020,2020,NaN,AFR,...,AGO,Angola,NaN,44 633,44633.0,NaN,NaN,NaN,NaN,NaN
3,MALARIA_IRS_COVERAGE,Number of people protected from malaria by ind...,https://www.who.int/data/gho/indicator-metadat...,PUBLISHED,Published,NaN,2018,2018,NaN,AFR,...,BDI,Burundi,NaN,1 754 679,1754679.0,NaN,NaN,NaN,NaN,NaN
4,MALARIA_IRS_COVERAGE,Number of people protected from malaria by ind...,https://www.who.int/data/gho/indicator-metadat...,PUBLISHED,Published,NaN,2019,2019,NaN,AFR,...,BDI,Burundi,NaN,725 449,725449.0,NaN,NaN,NaN,NaN,NaN

In [4]:
df.describe()

,PUBLISHSTATE (URL),YEAR (CODE),YEAR (DISPLAY),YEAR (URL),REGION (URL),COUNTRY (URL),Numeric,Low,High,StdErr,StdDev,Comments
count,0.0,273.000000,273.000000,0.0,0.0,0.0,1.740000e+02,0.0,0.0,0.0,0.0,0.0
mean,NaN,2019.000000,2019.000000,NaN,NaN,NaN,1.588653e+06,NaN,NaN,NaN,NaN,NaN
std,NaN,0.817996,0.817996,NaN,NaN,NaN,4.249719e+06,NaN,NaN,NaN,NaN,NaN
min,NaN,2018.000000,2018.000000,NaN,NaN,NaN,1.550000e+02,NaN,NaN,NaN,NaN,NaN
25%,NaN,2018.000000,2018.000000,NaN,NaN,NaN,6.039025e+04,NaN,NaN,NaN,NaN,NaN
50%,NaN,2019.000000,2019.000000,NaN,NaN,NaN,2.315855e+05,NaN,NaN,NaN,NaN,NaN
75%,NaN,2020.000000,2020.000000,NaN,NaN,NaN,1.422543e+06,NaN,NaN,NaN,NaN,NaN
max,NaN,2020.000000,2020.000000,NaN,NaN,NaN,3.429089e+07,NaN,NaN,NaN,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 273 entries, 0 to 272
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   GHO (CODE)              273 non-null    object
 1   GHO (DISPLAY)           273 non-null    object
 2   GHO (URL)               273 non-null    object
 3   PUBLISHSTATE (CODE)     273 non-null    object
 4   PUBLISHSTATE (DISPLAY)  273 non-null    object
 5   PUBLISHSTATE (URL)      0 non-null      float64
 6   YEAR (CODE)             273 non-null    int64
 7   YEAR (DISPLAY)          273 non-null    int64
 8   YEAR (URL)              0 non-null      float64
 9   REGION (CODE)           273 non-null    object
 10  REGION (DISPLAY)        273 non-null    object
 11  REGION (URL)            0 non-null      float64
 12  COUNTRY (CODE)          273 non-null    object
 13  COUNTRY (DISPLAY)       273 non-null    object
 14  COUNTRY (URL)           0 non-null      float64
 15  Display Value           174 non-null    object
 16  Numeric                 174 non-null    float64
 17  Low                     0 non-null      float64
 18  High                    0 non-null      float64
 19  StdErr                  0 non-null      float64
 20  StdDev                  0 non-null      float64
 21  Comments                0 non-null      float64
dtypes: float64(10), int64(2), object(10)
memory usage: 47.1+ KB

In [6]:
df.columns

Index(['GHO (CODE)', 'GHO (DISPLAY)', 'GHO (URL)', 'PUBLISHSTATE (CODE)',
       'PUBLISHSTATE (DISPLAY)', 'PUBLISHSTATE (URL)', 'YEAR (CODE)',
       'YEAR (DISPLAY)', 'YEAR (URL)', 'REGION (CODE)', 'REGION (DISPLAY)',
       'REGION (URL)', 'COUNTRY (CODE)', 'COUNTRY (DISPLAY)', 'COUNTRY (URL)',
       'Display Value', 'Numeric', 'Low', 'High', 'StdErr', 'StdDev',
       'Comments'],
      dtype='object')

In [8]:
#Specify the columns that are to be dropped
columns_to_drop = ['GHO (CODE)', 'GHO (DISPLAY)', 'GHO (URL)', 'PUBLISHSTATE (CODE)', 'PUBLISHSTATE (DISPLAY)', 'PUBLISHSTATE (URL)', 'YEAR (CODE)', 'YEAR (URL)', 'REGION (CODE)', 'REGION (URL)', 'COUNTRY (CODE)', 'COUNTRY (URL)', 'Display Value', 'Low', 'High', 'StdErr', 'StdDev', 'Comments']

In [9]:
#Drop the specified columns and create a new dataframe
df = df[[col for col in df.columns if col not in columns_to_drop]]

In [10]:
#Confirming the columns have been dropped
df.columns

Index(['YEAR (DISPLAY)', 'REGION (DISPLAY)', 'COUNTRY (DISPLAY)', 'Numeric'], dtype='object')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 273 entries, 0 to 272
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   YEAR (DISPLAY)     273 non-null    int64
 1   REGION (DISPLAY)   273 non-null    object
 2   COUNTRY (DISPLAY)  273 non-null    object
 3   Numeric            174 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 8.7+ KB

In [12]:
# Removing rows with null values. Here the Numeric column has the null values
df.dropna(subset=['Numeric'], inplace=True)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 174 entries, 2 to 269
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   YEAR (DISPLAY)     174 non-null    int64
 1   REGION (DISPLAY)   174 non-null    object
 2   COUNTRY (DISPLAY)  174 non-null    object
 3   Numeric            174 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 6.8+ KB

In [22]:
# Create a dictionary to specify the mapping of old column names to new column names
column_mapping = {
    'YEAR (DISPLAY)': 'Year',
    'REGION (DISPLAY)': 'Region',
    'COUNTRY (DISPLAY)': 'Country',
    'Numeric': 'People Protected',
}

# Use the rename() function to rename the columns
df.rename(columns=column_mapping, inplace=True)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 174 entries, 2 to 269
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Year                     174 non-null    int64
 1   Region                   174 non-null    object
 2   Country                  174 non-null    object
 3   People Protected by IRS  174 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 6.8+ KB

In [24]:
# Create a dictionary to specify the mapping of old column names to new column names
column_mapping = {
    'YEAR (DISPLAY)': 'Year',
    'REGION (DISPLAY)': 'Region',
    'COUNTRY (DISPLAY)': 'Country',
    'People Protected by IRS': 'People Protected',
}

# Use the rename() function to rename the columns
df.rename(columns=column_mapping, inplace=True)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 174 entries, 2 to 269
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year              174 non-null    int64
 1   Region            174 non-null    object
 2   Country           174 non-null    object
 3   People Protected  174 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 6.8+ KB

In [26]:
# Convert 'Year' to datetime
df['Year'] = pd.to_datetime(df['Year'], format='%Y')
df['Year'] = df['Year'].dt.year

In [27]:
# Use astype to convert the "People Protected" column to an integer
df['People Protected'] = df['People Protected'].astype(int)

In [28]:
df.head()

   Year  Region  Country  People Protected
2  2020  Africa   Angola             44633
3  2018  Africa  Burundi           1754679
4  2019  Africa  Burundi            725449
5  2020  Africa  Burundi           1243848
6  2018  Africa    Benin           1321758

In [29]:
# Create a irs_coverage_cases table with the selected columns
irs_coverage_table = df[['Year', 'Region', 'Country', 'People Protected']].copy()
# Add a new column 'coverage_id' and set it as the index
irs_coverage_table['coverage_id'] = range(1, len(irs_coverage_table) + 1)
# Reorder the columns to have 'case_id' as the first column
irs_coverage_table = irs_coverage_table[['coverage_id', 'Year', 'Region', 'Country', 'People Protected']]

In [30]:
irs_coverage_table

     coverage_id  Year           Region           Country  People Protected
2              1  2020           Africa            Angola             44633
3              2  2018           Africa           Burundi           1754679
4              3  2019           Africa           Burundi            725449
5              4  2020           Africa           Burundi           1243848
6              5  2018           Africa             Benin           1321758
..           ...   ...              ...               ...               ...
260          170  2020  Western Pacific       Philippines            476804
263          171  2020  Western Pacific  Papua New Guinea               200
267          172  2018  Western Pacific          Viet Nam            319866
268          173  2019  Western Pacific          Viet Nam            696751
269          174  2020  Western Pacific          Viet Nam            433405

[174 rows x 5 columns]